.cards {
  position: relative;
  padding: 100px;
  background-size: cover;
  background-image: url('https://unsplash.it/g/800/300/?random');
  margin-top:10px;
  margin-bottom:20px;


}

.cards h3{
  height: 22px;
  position: absolute;
  color:white;
  left:5px;
  top:-10px;

}


.cards img{
  position: absolute;
   height: 23px;
   padding-right: 20px;
  right:2px;
  top:5px;

}

.cards-name {
  text-align: center;
  padding:20px;
}

.card-description{
  position:absolute;
  bottom:5px;
  left:5px;
  color:white;

}

.card-popular{
  position:absolute;
  bottom:5px;
  right:5px;
  color:white;

}
