.features {
  position: relative;
  padding: 10px;
}

.features  h2{
  font-size: 17px;
  padding-left: 10px;

}


.features  img{
  height: 23px;
  padding-right: 20px;
}

.features -name{
  text-align: center;
  padding:20px;
}

