<nav class="navbar-wagon navbar-scroll">
  <div class="container navbar-wagon-container">

   <%= link_to "Home" , "index.html", class: "navbar-wagon-item navbar-wagon-link" %>

    <div class="navbar-wagon-pusher"></div>

    <hr class="hidden-xs hidden-sm">



    <hr>
    <a href="" class="navbar-wagon-item navbar-wagon-link">
    </a>

    <%= link_to "Killers", "#team", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Contact", "#contact", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Add a killer", "contact.html", class: "navbar-wagon-item navbar-wagon-button btn" %>


  </div>
</nav>
